:root {
    --main-color: rgb(243, 96, 60);;
    --transparent-color:rgb(15 116 143 / 70%);
    --section-padding:100px;
}
* {
    padding:0;
    margin:0;
    list-style:none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main-heading h2 {
font-weight:normal;
font-size:40px ;
position:relative;
margin-bottom:70px;
text-transform:uppercase;
text-align: center;
margin-top: 2rem;
}
.main-heading h2::before {
content:'';
position:absolute;
left:50%;
transform:translateX(-50%);
height:2px;
background-color:#333;
bottom:-30px;
width:120px;
}
.main-heading h2::after {
content:'';
position:absolute;
left:50%;
transform:translateX(-50%);
width:14px;
height:14px;
border-radius:50%;
border:2px solid #333;
bottom:-38px;
background-color:white;
}
.main-heading p {
width:550px;
margin:0 auto 100px;
max-width:100%;
line-height:2;
color:#777;
text-align:center;
}
.contact {
padding-top:var(--section-padding);
padding-bottom:var(--section-padding);
}
.contact .content {
display:flex;
justify-content:space-between;
}
@media (max-width:767px) {
    .contact .content {
        flex-direction:column;
    }
}
@media (min-width:954px) {
    .contact .content {
    margin-left: 10%;
    margin-right: 10%;
    }
}
.contact .content form {
flex-basis:70%;
}
.contact .content form .main-input {
padding:20px;
display:block;
border:1px solid #ccc;
margin-bottom:30px;
width:100%;
}
.contact .content form .main-input:focus {
outline:none;
}
.contact .content form textarea.main-input {
height:200px;
}
.contact .content form input[type="submit"] {
background-color:var(--main-color);
color:white;
padding:20px;
border:none;
display:flex;
margin-left:auto;
text-transform:uppercase;
cursor:pointer;
}
.contact .content .info {
flex-basis:25%;
}
@media (max-width:767px) {
.contact .content .info {
    order:-1;
    text-align:center;
}
}
.contact .content .info h4{
text-transform:uppercase;
margin-bottom:30px;
font-weight:500;
font-size:18px;
}
.contact .content .info .phone {
display:block;
color:#777;
margin-bottom:10px;
}
.contact .content .info h4:nth-of-type(2){
margin-top:90px;
}
@media (max-width:767px) {
.contact .content .info h4:nth-of-type(2) {
    margin-top:30px;
}
}
.contact .content .info address{
color:#777;
line-height:2;
}
@media (max-width:767px) {
.contact .content .info address {
    margin-bottom:40px;
}
}